In [13]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import DataFrame

In [14]:
count_csv=pd.read_csv(r"C:\Users\Shivam\Desktop\Mini project\new files\2015_16_persons_count_by_category.csv")

In [15]:
enrolled_stud=pd.read_csv(r"C:\Users\Shivam\Desktop\Mini project\new files\2015_16_enrolled_student_count.csv")

In [17]:
course_enrolled=pd.read_csv(r"C:\Users\Shivam\Desktop\Mini project\new files\2015_16_course_enrolled_student_count.csv")

In [18]:
course=pd.read_csv(r"C:\Users\Shivam\Desktop\Mini project\new files\2015_16_course.csv")

C:\Users\Shivam\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
edu_course=pd.read_csv(r"C:\Users\Shivam\Desktop\Mini project\new files\2015_16_educational_institution_course.csv")

In [20]:
college_inst=pd.read_csv(r"C:\Users\Shivam\Desktop\Mini project\new files\2015_16_college_institution.csv")

C:\Users\Shivam\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [21]:
#need to check--college_course=pd.read_csv(r"C:\Users\SUYASH\Documents\6creaditproject\dataset\higher-education-analytics\2015-2016\.csv")

In [22]:
count_csv.head()

,id_1,total_general_total,total_general_females,total_sc_total,total_sc_females,total_st_total,total_st_females,total_obc_total,total_obc_females,total_total_persons,...,other_minority_sc_total,other_minority_sc_females,other_minority_st_total,other_minority_st_females,other_minority_obc_total,other_minority_obc_females,other_minority_total_persons,other_minority_total_females,other_minority_remarks_id,Total_Students
0,4291980,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1
1,4511951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0,1
2,4606606,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,1.0,NaN,9
3,4782036,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1
4,4857394,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1

In [26]:
print(list(count_csv.columns))
print(list(enrolled_stud.columns))

['id_1', 'total_general_total', 'total_general_females', 'total_sc_total', 'total_sc_females', 'total_st_total', 'total_st_females', 'total_obc_total', 'total_obc_females', 'total_total_persons', 'total_total_females', 'total_remarks_id', 'pwd_general_total', 'pwd_general_females', 'pwd_sc_total', 'pwd_sc_females', 'pwd_st_total', 'pwd_st_females', 'pwd_obc_total', 'pwd_obc_females', 'pwd_total_persons', 'pwd_total_females', 'pwd_remarks_id', 'muslim_minority_general_total', 'muslim_minority_general_females', 'muslim_minority_sc_total', 'muslim_minority_sc_females', 'muslim_minority_st_total', 'muslim_minority_st_females', 'muslim_minority_obc_total', 'muslim_minority_obc_females', 'muslim_minority_total_persons', 'muslim_minority_total_females', 'muslim_minority_remarks_id', 'other_minority_general_total', 'other_minority_general_females', 'other_minority_sc_total', 'other_minority_sc_females', 'other_minority_st_total', 'other_minority_st_females', 'other_minority_obc_total', 'other_minority_obc_females', 'other_minority_total_persons', 'other_minority_total_females', 'other_minority_remarks_id', 'Total_Students']
['id_2', 'course_mode_id', 'level_id', 'programme_id', 'discipline', 'course_type_id', 'year', 'id_1', 'broad_discipline_group_id']

In [23]:
enrolled_stud.head()

,id_2,course_mode_id,level_id,programme_id,discipline,course_type_id,year,id_1,broad_discipline_group_id
0,2919577,1,3,122,Agricultural Engineering,1,1.0,5612652,13
1,2919578,1,3,122,Agricultural Engineering,1,2.0,5612653,13
2,2714231,1,4,30,Home Science,2,1.0,5221528,38
3,2714243,1,3,111,Clothing & Textile,1,1.0,5221540,38
4,2714230,1,4,30,Home Science,1,1.0,5221527,38

In [27]:
#count_csv.merge(enrolled_stud,left_on='id',right_on='count_by_category_id')
merge12=pd.merge(count_csv,enrolled_stud,on='id_1',how='inner')

In [28]:
merge12.count()

id_1                               538082
total_general_total                501870
total_general_females              501870
total_sc_total                     501870
total_sc_females                   501870
total_st_total                     501870
total_st_females                   501870
total_obc_total                    501407
total_obc_females                  501407
total_total_persons                538082
total_total_females                538082
total_remarks_id                    36806
pwd_general_total                  421765
pwd_general_females                421765
pwd_sc_total                       421765
pwd_sc_females                     421765
pwd_st_total                       421765
pwd_st_females                     421765
pwd_obc_total                      422484
pwd_obc_females                    422484
pwd_total_persons                  538082
pwd_total_females                  538082
pwd_remarks_id                     116408
muslim_minority_general_total      425672
muslim_minority_general_females    425672
muslim_minority_sc_total           425672
muslim_minority_sc_females         425672
muslim_minority_st_total           425672
muslim_minority_st_females         425672
muslim_minority_obc_total          427406
muslim_minority_obc_females        427406
muslim_minority_total_persons      515236
muslim_minority_total_females      515236
muslim_minority_remarks_id         112444
other_minority_general_total       416992
other_minority_general_females     416992
other_minority_sc_total            416992
other_minority_sc_females          416992
other_minority_st_total            416992
other_minority_st_females          416992
other_minority_obc_total           417760
other_minority_obc_females         417760
other_minority_total_persons       511884
other_minority_total_females       511884
other_minority_remarks_id          121179
Total_Students                     538082
id_2                               538082
course_mode_id                     538082
level_id                           538082
programme_id                       538082
discipline                         537951
course_type_id                     538082
year                               528427
broad_discipline_group_id          538082
dtype: int64

In [29]:
merge23=pd.merge(merge12,course_enrolled,on='id_2',how='inner')

In [33]:
edu_course.head()

,institution_category,id_4,state_code,faculty_id,department_id,id_3,survey_year
0,University,1,28,49814.0,NaN,949531,2015
1,University,1,28,49814.0,NaN,949532,2015
2,University,1,28,49814.0,NaN,949533,2015
3,University,1,28,49814.0,NaN,949534,2015
4,University,2,28,49987.0,NaN,957860,2015

course_enrolled.head)

In [34]:
#merge34=pd.merge(merge23,edu_course,on='id_3',how='inner')
#having an issue as educational_institute_course has both university and colleges and 
#id id repeated so need to seperate them then use
#and i dont know how to will do tomo
edu_course.institution_category.unique()

array(['University', 'College Institution', 'Standalone Institution'],
      dtype=object)

In [39]:
col_inst_course=edu_course[edu_course['institution_category']=='College Institution']
col_inst_course

,institution_category,id_4,state_code,faculty_id,department_id,id_3,survey_year
34510,College Institution,13438,9,NaN,NaN,1071979,2015
34511,College Institution,13438,9,NaN,NaN,1071978,2015
34512,College Institution,13438,9,NaN,NaN,1071977,2015
34513,College Institution,13438,9,NaN,NaN,1071976,2015
34514,College Institution,55446,20,NaN,NaN,1072024,2015
34515,College Institution,15927,9,NaN,NaN,840507,2015
34516,College Institution,51377,9,NaN,NaN,867942,2015
34517,College Institution,51411,9,NaN,NaN,873028,2015
34518,College Institution,49749,22,NaN,NaN,922541,2015
34519,College Institution,49749,22,NaN,NaN,922540,2015
34520,College Institution,49749,22,NaN,NaN,922539,2015
34521,College Institution,15282,9,NaN,NaN,1073618,2015
34522,College Institution,17135,18,NaN,NaN,972928,2015
34523,College Institution,17135,18,NaN,NaN,972927,2015
34524,College Institution,17135,18,NaN,NaN,972926,2015
34525,College Institution,17135,18,NaN,NaN,972925,2015
34526,College Institution,17135,18,NaN,NaN,972924,2015
34527,College Institution,52568,36,NaN,NaN,994445,2015
34528,College Institution,52568,36,NaN,NaN,994444,2015
34529,College Institution,25509,36,NaN,NaN,1019137,2015
34530,College Institution,50188,9,NaN,NaN,873193,2015
34531,College Institution,50188,9,NaN,NaN,873192,2015
34532,College Institution,51311,9,NaN,NaN,1061633,2015
34533,College Institution,23967,28,NaN,NaN,1062185,2015
34534,College Institution,23967,28,NaN,NaN,1062184,2015
34535,College Institution,51476,9,NaN,NaN,1068580,2015
34536,College Institution,54842,9,NaN,NaN,1073725,2015
34537,College Institution,54842,9,NaN,NaN,1073724,2015
34538,College Institution,54842,9,NaN,NaN,1073723,2015
34539,College Institution,28718,9,NaN,NaN,1073796,2015
...,...,...,...,...,...,...,...
192860,College Institution,29453,6,NaN,NaN,1071461,2015
192861,College Institution,46520,1,NaN,NaN,1071540,2015
192862,College Institution,9650,10,NaN,NaN,1071562,2015
192863,College Institution,27131,10,NaN,NaN,1071601,2015
192864,College Institution,27131,10,NaN,NaN,1071600,2015
192865,College Institution,27131,10,NaN,NaN,1071599,2015
192866,College Institution,30507,28,NaN,NaN,1071603,2015
192867,College Institution,17638,10,NaN,NaN,1071742,2015
192868,College Institution,17638,10,NaN,NaN,1071741,2015
192869,College Institution,17638,10,NaN,NaN,1071740,2015
192870,College Institution,17638,10,NaN,NaN,1071739,2015
192871,College Institution,17638,10,NaN,NaN,1071738,2015
192872,College Institution,17638,10,NaN,NaN,1071737,2015
192873,College Institution,17638,10,NaN,NaN,1071736,2015
192874,College Institution,17638,10,NaN,NaN,1071735,2015
192875,College Institution,17638,10,NaN,NaN,1071734,2015
192876,College Institution,17638,10,NaN,NaN,1071733,2015
192877,College Institution,17638,10,NaN,NaN,1071732,2015
192878,College Institution,17638,10,NaN,NaN,1071731,2015
192879,College Institution,17638,10,NaN,NaN,1071730,2015
192880,College Institution,17638,10,NaN,NaN,1071729,2015
192881,College Institution,17638,10,NaN,NaN,1071728,2015
192882,College Institution,17638,10,NaN,NaN,1071727,2015
192883,College Institution,17638,10,NaN,NaN,1071726,2015
192884,College Institution,17638,10,NaN,NaN,1071725,2015
192885,College Institution,17638,10,NaN,NaN,1071724,2015
192886,College Institution,17638,10,NaN,NaN,1071723,2015
192887,College Institution,17638,10,NaN,NaN,1071722,2015
192888,College Institution,17638,10,NaN,NaN,1071721,2015
192889,College Institution,17638,10,NaN,NaN,1071720,2015

In [40]:
merge34=pd.merge(merge23,col_inst_course,on='id_3',how='inner')
merge34

,id_1,total_general_total,total_general_females,total_sc_total,total_sc_females,total_st_total,total_st_females,total_obc_total,total_obc_females,total_total_persons,...,year,broad_discipline_group_id,id,id_3,institution_category,id_4,state_code,faculty_id,department_id,survey_year
0,4285200,49.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,49,...,3.0,20,2573867,814883,College Institution,197,24,NaN,754618.0,2015
1,4285198,5.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,5,...,1.0,20,2573872,814883,College Institution,197,24,NaN,754618.0,2015
2,4285201,50.0,14.0,0.0,0.0,0.0,0.0,0.0,0.0,50,...,4.0,20,2573863,814883,College Institution,197,24,NaN,754618.0,2015
3,4285199,22.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,22,...,2.0,20,2573845,814883,College Institution,197,24,NaN,754618.0,2015
4,4325783,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,3.0,171,2589699,821792,College Institution,48789,36,NaN,NaN,2015
5,4325782,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,2.0,171,2589698,821792,College Institution,48789,36,NaN,NaN,2015
6,4325781,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,1.0,171,2589697,821792,College Institution,48789,36,NaN,NaN,2015
7,4328853,8.0,1.0,4.0,1.0,1.0,0.0,6.0,0.0,19,...,2.0,183,2591277,822422,College Institution,731,24,NaN,NaN,2015
8,4328854,18.0,0.0,6.0,0.0,1.0,0.0,8.0,0.0,33,...,3.0,183,2591278,822422,College Institution,731,24,NaN,NaN,2015
9,4390488,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,1.0,183,2622526,833568,College Institution,10385,3,NaN,NaN,2015
10,4390489,13.0,9.0,4.0,3.0,0.0,0.0,0.0,0.0,17,...,2.0,183,2622527,833568,College Institution,10385,3,NaN,NaN,2015
11,4390490,22.0,13.0,2.0,2.0,0.0,0.0,0.0,0.0,24,...,3.0,183,2622528,833568,College Institution,10385,3,NaN,NaN,2015
12,4392341,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4,...,1.0,9,2623581,833901,College Institution,22986,1,NaN,NaN,2015
13,4392343,3.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,4,...,3.0,9,2623583,833901,College Institution,22986,1,NaN,NaN,2015
14,4392342,9.0,5.0,4.0,4.0,0.0,0.0,1.0,0.0,14,...,2.0,9,2623582,833901,College Institution,22986,1,NaN,NaN,2015
15,4510016,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,2.0,133,2687091,855253,College Institution,49894,36,NaN,NaN,2015
16,4510015,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,1.0,133,2687090,855253,College Institution,49894,36,NaN,NaN,2015
17,4510017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,3.0,133,2687092,855253,College Institution,49894,36,NaN,NaN,2015
18,4525360,5.0,3.0,60.0,12.0,4.0,1.0,45.0,10.0,114,...,1.0,16,2696114,858138,College Institution,36937,33,NaN,NaN,2015
19,4525361,1.0,0.0,24.0,5.0,3.0,0.0,78.0,22.0,106,...,2.0,16,2696115,858138,College Institution,36937,33,NaN,NaN,2015
20,4525363,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,4.0,16,2696117,858138,College Institution,36937,33,NaN,NaN,2015
21,4525362,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,3.0,16,2696116,858138,College Institution,36937,33,NaN,NaN,2015
22,4589861,5.0,5.0,11.0,11.0,31.0,31.0,19.0,19.0,66,...,1.0,171,2732177,870291,College Institution,29659,23,NaN,NaN,2015
23,4589863,1.0,1.0,6.0,6.0,33.0,33.0,19.0,19.0,59,...,3.0,171,2732179,870291,College Institution,29659,23,NaN,NaN,2015
24,4589862,3.0,3.0,9.0,9.0,21.0,21.0,23.0,23.0,56,...,2.0,171,2732178,870291,College Institution,29659,23,NaN,NaN,2015
25,4592620,2.0,1.0,0.0,0.0,1.0,0.0,6.0,4.0,9,...,1.0,76,2733730,870796,College Institution,8993,27,NaN,NaN,2015
26,4592621,7.0,4.0,0.0,0.0,0.0,0.0,7.0,5.0,14,...,2.0,76,2733731,870796,College Institution,8993,27,NaN,NaN,2015
27,4637874,33.0,22.0,104.0,53.0,2.0,0.0,114.0,47.0,253,...,2.0,40,2757028,878741,College Institution,43353,19,NaN,822152.0,2015
28,4637873,172.0,127.0,106.0,71.0,3.0,0.0,86.0,30.0,367,...,1.0,40,2757027,878741,College Institution,43353,19,NaN,822152.0,2015
29,4637875,75.0,60.0,61.0,49.0,1.0,0.0,36.0,25.0,173,...,3.0,40,2757029,878741,College Institution,43353,19,NaN,822152.0,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
414109,5091103,3.0,1.0,2.0,0.0,0.0,0.0,6.0,3.0,11,...,2.0,174,3015052,967679,College Institution,27637,28,NaN,NaN,2015
414110,5359909,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,4,...,1.0,8,3172047,1023216,College Institution,36370,33,NaN,NaN,2015
414111,5547012,4.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,6,...,1.0,94,3284086,1059007,College Institution,33651,27,NaN,NaN,2015
414112,5322338,0.0,0.0,3.0,2.0,0.0,0.0,13.0,6.0,16,...,1.0,9,3147730,1015134,College Institution,36536,33,NaN,NaN,2015
414113,4249639,5.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,6,...,NaN,158,2550429,808512,College Institution,30698,28,NaN,NaN,2015
414114,4824863,0.0,0.0,9.0,8.0,0.0,0.0,65.0,62.0,74,...,1.0,12,2861297,913886,College Institution,14698,33,NaN,NaN,2015
414115,5105708,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,...,1.0,95,3023441,970498,College Institution,9547,33,NaN,NaN,2015
414116,4814122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,...,1.0,51,2854977,911651,College Institution,8888,27,NaN,NaN,2015
414117,5623785,7.0,3.0,3.0,0.0,0.0,0.0,50.0,14.0,60,...,1.0,53,3339067,1073264,College Institution,51578,10,NaN,NaN,2015
414118,5040773,20.0,8.0,2.0,1.0,0.0,0.0,6.0,4.0,28,...,NaN,96,2986362,957954,College Institution,11800,32,NaN,NaN,2015
414119,5391397,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,1.0,178,3189933,1029209,College Institution,27344,36,NaN,NaN,2015
414120,5010094,35.0,24.0,15.0,12.0,0.0,0.0,45.0,38.0,95,...,1.0,12,2968198,951622,College Institution,12286,9,NaN,NaN,2015
414121,4736938,14.0,12.0,35.0,29.0,17.0,11.0,4.0,1.0,70,...,1.0,107,2810035,896903,College Institution,822,24,NaN,NaN,2015
414122,4355868,6.0,6.0,10.0,10.0,0.0,0.0,23.0,23.0,39,...,1.0,12,2605369,827545,College Institution,15103,9,NaN,NaN,2015
414123,4483394,0.0,0.0,3.0,2.0,14.0,10.0,2.0,1.0,19,...,1.0,112,2671754,850024,College Institution,38290,8,NaN,NaN,2015
414124,5186772,2.0,2.0,0.0,0.0,0.0,0.0,4.0,2.0,6,...,1.0,31,3068823,987667,College Institution,34089,27,NaN,NaN,2015
414125,5375836,0.0,0.0,13.0,9.0,0.0,0.0,8.0,6.0,21,...,NaN,47,3181244,1026203,College Institution,35822,33,NaN,NaN,2015
414126,5274886,5.0,2.0,3.0,3.0,2.0,2.0,6.0,0.0,16,...,1.0,183,3119026,1005264,College Institution,31531,22,NaN,NaN,2015
414127,5515585,3.0,2.0,5.0,1.0,2.0,2.0,38.0,21.0,48,...,1.0,183,3265763,1052875,College Institution,54069,23,NaN,NaN,2015
414128,5035616,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17,...,NaN,28,2983182,956921,College Institution,11831,32,NaN,NaN,2015
414129,5483876,1.0,0.0,5.0,2.0,0.0,0.0,4.0,4.0,10,...,1.0,17,3246150,1046039,College Institution,55113,28,NaN,NaN,2015
414130,5601033,5.0,3.0,4.0,1.0,0.0,0.0,17.0,9.0,26,...,1.0,183,3317090,1069761,College Institution,54896,23,NaN,NaN,2015
414131,4588216,57.0,35.0,26.0,11.0,2.0,2.0,12.0,6.0,97,...,1.0,12,2731370,870019,College Institution,19099,19,NaN,NaN,2015
414132,4660306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,...,1.0,82,2879447,882870,College Institution,42446,9,NaN,NaN,2015
414133,5258878,5.0,5.0,1.0,1.0,0.0,0.0,5.0,5.0,11,...,1.0,116,3110125,1001813,College Institution,9405,14,NaN,NaN,2015
414134,5528489,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,NaN,106,3272962,1055468,College Institution,43921,33,NaN,NaN,2015
414135,5550231,26.0,20.0,1.0,1.0,0.0,0.0,2.0,2.0,29,...,1.0,12,3285960,1059657,College Institution,28443,6,NaN,NaN,2015
414136,4841856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,...,1.0,107,2871206,917334,College Institution,43785,32,NaN,NaN,2015
414137,5293632,17.0,14.0,110.0,40.0,0.0,0.0,12.0,11.0,139,...,1.0,12,3130221,1009092,College Institution,28855,9,NaN,NaN,2015
414138,5341427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,94,3160796,1019535,College Institution,22586,9,NaN,NaN,2015

In [51]:
len(list(merge34.id_4.unique()))

35077

In [42]:
print(list(merge34.columns))
print(len(list(merge34.columns)))

['id_1', 'total_general_total', 'total_general_females', 'total_sc_total', 'total_sc_females', 'total_st_total', 'total_st_females', 'total_obc_total', 'total_obc_females', 'total_total_persons', 'total_total_females', 'total_remarks_id', 'pwd_general_total', 'pwd_general_females', 'pwd_sc_total', 'pwd_sc_females', 'pwd_st_total', 'pwd_st_females', 'pwd_obc_total', 'pwd_obc_females', 'pwd_total_persons', 'pwd_total_females', 'pwd_remarks_id', 'muslim_minority_general_total', 'muslim_minority_general_females', 'muslim_minority_sc_total', 'muslim_minority_sc_females', 'muslim_minority_st_total', 'muslim_minority_st_females', 'muslim_minority_obc_total', 'muslim_minority_obc_females', 'muslim_minority_total_persons', 'muslim_minority_total_females', 'muslim_minority_remarks_id', 'other_minority_general_total', 'other_minority_general_females', 'other_minority_sc_total', 'other_minority_sc_females', 'other_minority_st_total', 'other_minority_st_females', 'other_minority_obc_total', 'other_minority_obc_females', 'other_minority_total_persons', 'other_minority_total_females', 'other_minority_remarks_id', 'Total_Students', 'id_2', 'course_mode_id', 'level_id', 'programme_id', 'discipline', 'course_type_id', 'year', 'broad_discipline_group_id', 'id', 'id_3', 'institution_category', 'id_4', 'state_code', 'faculty_id', 'department_id', 'survey_year']
62