In [72]:
import pandas as pd
import numpy as np

In [73]:
infranew = pd.read_csv("infra1.csv")

In [74]:
infranew['no_of_playgrounds'].fillna(0,inplace = True)
infranew.head()

,id,playground,auditorium,theatre,library,laboratory,conference_hall,health_center,gymnasium_fitness_center,indoor_stadium,...,solar_power_generation,connectivity_nkn,connectivity_nmeict,no_of_books,no_of_journals,campus_friendly,grievance_redressal_mechanism,vigilance_cell,e_cell,infrastructure_score
0,185131,True,False,False,True,True,True,False,False,False,...,False,False,False,0,0,True,False,False,False,NaN
1,202094,True,False,True,True,False,False,False,False,False,...,False,False,False,0,0,False,False,False,False,NaN
2,197414,True,True,False,True,True,True,True,False,True,...,True,True,False,1553,10,False,False,False,False,NaN
3,164444,True,False,False,True,True,True,False,False,False,...,True,False,False,0,0,False,False,False,False,NaN
4,188887,True,True,False,True,False,True,True,False,False,...,True,True,True,0,0,True,True,True,True,NaN

In [75]:
infranew.update(infranew.laboratory.astype(int))

In [76]:
infranew.head()

,id,playground,auditorium,theatre,library,laboratory,conference_hall,health_center,gymnasium_fitness_center,indoor_stadium,...,solar_power_generation,connectivity_nkn,connectivity_nmeict,no_of_books,no_of_journals,campus_friendly,grievance_redressal_mechanism,vigilance_cell,e_cell,infrastructure_score
0,185131,True,False,False,True,1,True,False,False,False,...,False,False,False,0,0,True,False,False,False,NaN
1,202094,True,False,True,True,0,False,False,False,False,...,False,False,False,0,0,False,False,False,False,NaN
2,197414,True,True,False,True,1,True,True,False,True,...,True,True,False,1553,10,False,False,False,False,NaN
3,164444,True,False,False,True,1,True,False,False,False,...,True,False,False,0,0,False,False,False,False,NaN
4,188887,True,True,False,True,0,True,True,False,False,...,True,True,True,0,0,True,True,True,True,NaN

In [77]:
infranew.update(infranew.campus_friendly.astype(int))
infranew.update(infranew.grievance_redressal_mechanism.astype(int))
infranew.update(infranew.vigilance_cell.astype(int))
infranew.update(infranew.vigilance_cell.astype(int))
infranew.update(infranew.e_cell.astype(int))

In [79]:
infranew.head()

,id,playground,auditorium,theatre,library,laboratory,conference_hall,health_center,gymnasium_fitness_center,indoor_stadium,...,solar_power_generation,connectivity_nkn,connectivity_nmeict,no_of_books,no_of_journals,campus_friendly,grievance_redressal_mechanism,vigilance_cell,e_cell,infrastructure_score
0,185131,True,False,False,True,1,True,False,False,False,...,False,False,False,0,0,1,0,0,0,NaN
1,202094,True,False,True,True,0,False,False,False,False,...,False,False,False,0,0,0,0,0,0,NaN
2,197414,True,True,False,True,1,True,True,False,True,...,True,True,False,1553,10,0,0,0,0,NaN
3,164444,True,False,False,True,1,True,False,False,False,...,True,False,False,0,0,0,0,0,0,NaN
4,188887,True,True,False,True,0,True,True,False,False,...,True,True,True,0,0,1,1,1,1,NaN

In [80]:
infranew.to_csv("infranew2.csv")