In [38]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [14]:
edu_courses=pd.read_csv(r"C:\Users\Shivam\Desktop\Mini project\2015_16\2015_16_educational_institution_course.csv")
course=pd.read_csv(r"C:\Users\Shivam\Desktop\Mini project\2015_16\2015_16_course.csv")
broad_disc=pd.read_csv(r"C:\Users\Shivam\Desktop\Mini project\2015_16\2015_16_ref_broad_discipline_group.csv")

C:\Users\Shivam\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
print(list(edu_courses.columns))
print(edu_courses.institution_category.unique())

['institution_category', 'institution_id', 'state_code', 'faculty_id', 'department_id', 'course_id', 'survey_year']
['University' 'College Institution' 'Standalone Institution']

In [28]:
edu_courses=edu_courses.drop(['faculty_id', 'department_id','survey_year'],axis=1)
col_inst_course=edu_courses[edu_courses['institution_category']=='College Institution']
col_inst_course.head()

      institution_category  institution_id  state_code  course_id
34510  College Institution           13438           9    1071979
34511  College Institution           13438           9    1071978
34512  College Institution           13438           9    1071977
34513  College Institution           13438           9    1071976
34514  College Institution           55446          20    1072024

In [17]:
course=pd.read_csv(r"C:\Users\Shivam\Desktop\Mini project\2015_16\2015_16_course.csv")
course.head()

,id,mode_id,only_through_colleges,level_id,programme_id,discipline,broad_discipline_group,intake,no_of_applicants,duration_year,duration_month,type_id,examination_system_id,approving_statutory_body_id,approving_university_id,broad_discipline_group_category_id,admission_criterion_id
0,949531,1,False,1,157,Horticulture,5,8.0,NaN,3,0,1,2,NaN,NaN,1,NaN
1,949532,1,False,3,111,Horticulture,5,51.0,NaN,2,0,1,2,NaN,NaN,1,NaN
2,949533,1,False,6,82,Horticulture,5,99.0,NaN,2,0,1,2,NaN,NaN,1,NaN
3,949534,1,False,4,180,Horticuture,107,187.0,NaN,4,0,1,2,NaN,NaN,24,NaN
4,957860,1,False,8,39,Law,52,144.0,NaN,5,0,2,2,NaN,NaN,15,1.0

In [18]:
course=course.drop(['mode_id','only_through_colleges','level_id','discipline','no_of_applicants','duration_month','type_id','examination_system_id','approving_statutory_body_id','approving_university_id','admission_criterion_id'],axis=1)

In [19]:
list(course.columns)

['id',
 'programme_id',
 'broad_discipline_group',
 'intake',
 'duration_year',
 'broad_discipline_group_category_id']

In [20]:
course.columns=['course_id',
 'programme_id',
 'broad_discipline_group_id',
 'intake',
 'duration_year',
 'broad_discipline_group_category_id']

In [21]:
broad_disc.head()

    id  category_id              discipline_group
0    3           31             Fisheries Science
1    7           34  Veterinary & Animal Sciences
2  120           34                 Dairy Science
3  121            3                 Foreign Trade
4  122            7      Aeronautical Engineering

In [22]:
broad_disc=broad_disc.drop(['category_id'],axis=1)

In [23]:
broad_disc.columns=['broad_discipline_group_id','discipline_group']

In [24]:
m_course=pd.merge(course,broad_disc,on='broad_discipline_group_id',how='inner')
m_course.head()

,course_id,programme_id,broad_discipline_group_id,intake,duration_year,broad_discipline_group_category_id,discipline_group
0,949531,157,5,8.0,3,1,Horticulture
1,949532,111,5,51.0,2,1,Horticulture
2,949533,82,5,99.0,2,1,Horticulture
3,1047300,155,5,51.0,1,1,Horticulture
4,1005659,111,5,25.0,2,1,Horticulture

In [29]:
m_col_inst_course=pd.merge(col_inst_course,m_course,on='course_id',how='inner')

In [30]:
m_col_inst_course.head()
list(m_col_inst_course.columns)

['institution_category',
 'institution_id',
 'state_code',
 'course_id',
 'programme_id',
 'broad_discipline_group_id',
 'intake',
 'duration_year',
 'broad_discipline_group_category_id',
 'discipline_group']

In [31]:
#col_courses={'college_institution_id':[],'courses':[]}

m_col_inst_course.columns=['institution_category',
 'college_institution_id',
 'state_code',
 'course_id',
 'programme_id',
 'broad_discipline_group_id',
 'intake',
 'duration_year',
 'broad_discipline_group_category_id',
 'discipline_group']
m_col_inst_course.head()

,institution_category,college_institution_id,state_code,course_id,programme_id,broad_discipline_group_id,intake,duration_year,broad_discipline_group_category_id,discipline_group
0,College Institution,13438,9,1071979,182,12,50.0,2,6,Education
1,College Institution,13438,9,1071978,30,171,480.0,3,24,Science
2,College Institution,13438,9,1071977,12,9,240.0,3,3,Commerce
3,College Institution,13438,9,1071976,17,12,100.0,1,6,Education
4,College Institution,55446,20,1072024,17,12,100.0,2,6,Education

In [32]:
col_inst_ids=list(m_col_inst_course.college_institution_id.unique())
len(col_inst_ids)

35187

In [33]:
broad_disc_category=pd.read_csv(r"C:\Users\Shivam\Desktop\Mini project\2015_16\2015_16_ref_broad_discipline_group_category.csv")
broad_disc_category.head()

   id       discipline_group_category
0   1                     Agriculture
1   2                    Area Studies
2   3                        Commerce
3   4  Criminology & Forensic Science
4   5                 Defence Studies

In [34]:
broad_disc_category.columns=['broad_discipline_group_category_id','discipline_group_category']
broad_disc_category.head()

   broad_discipline_group_category_id       discipline_group_category
0                                   1                     Agriculture
1                                   2                    Area Studies
2                                   3                        Commerce
3                                   4  Criminology & Forensic Science
4                                   5                 Defence Studies

In [35]:
m_col_inst_course=pd.merge(m_col_inst_course,broad_disc_category,on='broad_discipline_group_category_id',how='inner')

In [36]:
m_col_inst_course.head()

,institution_category,college_institution_id,state_code,course_id,programme_id,broad_discipline_group_id,intake,duration_year,broad_discipline_group_category_id,discipline_group,discipline_group_category
0,College Institution,13438,9,1071979,182,12,50.0,2,6,Education,Education
1,College Institution,13438,9,1071976,17,12,100.0,1,6,Education,Education
2,College Institution,55446,20,1072024,17,12,100.0,2,6,Education,Education
3,College Institution,15282,9,1073618,17,12,100.0,1,6,Education,Education
4,College Institution,54842,9,1073725,17,12,100.0,2,6,Education,Education

In [43]:
len(list(m_col_inst_course.discipline_group_category.unique()))

34

In [51]:
m_col_inst_course['discipline_group_category'] = pd.Categorical(m_col_inst_course['discipline_group_category'])
dfDummies = pd.get_dummies(m_col_inst_course['discipline_group_category'], prefix = 'c')
dfDummies

,c_Agriculture,c_Area Studies,c_Arts,c_Commerce,c_Criminology & Forensic Science,c_Cultural Studies,c_Defence Studies,c_Design,c_Disability Studies,c_Education,...,c_Marine Science / Oceanography,c_Medical Science,c_Oriental Learning,c_Physical Education,c_Religious Studies,c_Science,c_Social Science,c_Social Work,c_Veterinary & Animal Sciences,c_Women Studies
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158350,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158351,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158352,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158353,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158354,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158355,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158356,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158357,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158359,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158360,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158361,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158362,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158363,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158364,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158366,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
158367,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
158368,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
158369,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
158370,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
158371,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
158372,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
158373,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
158374,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
158375,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
158376,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
158377,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
158378,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
158379,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [56]:
columns=list(dfDummies.columns)
columns1=[]
for i in columns:
    i=i.replace(" ","_")
    columns1.append(i)
print(columns1)
dfDummies.columns=['c_Agriculture', 'c_Area_Studies', 'c_Arts', 'c_Commerce', 'c_Criminology_&_Forensic_Science', 'c_Cultural_Studies', 'c_Defence_Studies', 'c_Design', 'c_Disability_Studies', 'c_Education', 'c_Engineering_&_Technology', 'c_Fashion_Technology', 'c_Fine_Arts', 'c_Fisheries_Science', 'c_Foreign_Language', 'c_Gandhian_Studies', 'c_Home_Science', 'c_IT_&_Computer', 'c_Indian_Language', 'c_Journalism_&_Mass_Communication', 'c_Law', 'c_Library_&_Information_Science', 'c_Linguistics', 'c_Management', 'c_Marine_Science_/_Oceanography', 'c_Medical_Science', 'c_Oriental_Learning', 'c_Physical_Education', 'c_Religious_Studies', 'c_Science', 'c_Social_Science', 'c_Social_Work', 'c_Veterinary_&_Animal_Sciences', 'c_Women_Studies']

['c_Agriculture', 'c_Area_Studies', 'c_Arts', 'c_Commerce', 'c_Criminology_&_Forensic_Science', 'c_Cultural_Studies', 'c_Defence_Studies', 'c_Design', 'c_Disability_Studies', 'c_Education', 'c_Engineering_&_Technology', 'c_Fashion_Technology', 'c_Fine_Arts', 'c_Fisheries_Science', 'c_Foreign_Language', 'c_Gandhian_Studies', 'c_Home_Science', 'c_IT_&_Computer', 'c_Indian_Language', 'c_Journalism_&_Mass_Communication', 'c_Law', 'c_Library_&_Information_Science', 'c_Linguistics', 'c_Management', 'c_Marine_Science_/_Oceanography', 'c_Medical_Science', 'c_Oriental_Learning', 'c_Physical_Education', 'c_Religious_Studies', 'c_Science', 'c_Social_Science', 'c_Social_Work', 'c_Veterinary_&_Animal_Sciences', 'c_Women_Studies']

In [57]:
dfDummies.head()

,c_Agriculture,c_Area_Studies,c_Arts,c_Commerce,c_Criminology_&_Forensic_Science,c_Cultural_Studies,c_Defence_Studies,c_Design,c_Disability_Studies,c_Education,...,c_Marine_Science_/_Oceanography,c_Medical_Science,c_Oriental_Learning,c_Physical_Education,c_Religious_Studies,c_Science,c_Social_Science,c_Social_Work,c_Veterinary_&_Animal_Sciences,c_Women_Studies
0,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
m_col_inst_course = pd.concat([m_col_inst_course, dfDummies], axis=1)

In [60]:
list(c.columns)

['institution_category',
 'college_institution_id',
 'state_code',
 'course_id',
 'programme_id',
 'broad_discipline_group_id',
 'intake',
 'duration_year',
 'broad_discipline_group_category_id',
 'discipline_group',
 'discipline_group_category',
 'c_Agriculture',
 'c_Area_Studies',
 'c_Arts',
 'c_Commerce',
 'c_Criminology_&_Forensic_Science',
 'c_Cultural_Studies',
 'c_Defence_Studies',
 'c_Design',
 'c_Disability_Studies',
 'c_Education',
 'c_Engineering_&_Technology',
 'c_Fashion_Technology',
 'c_Fine_Arts',
 'c_Fisheries_Science',
 'c_Foreign_Language',
 'c_Gandhian_Studies',
 'c_Home_Science',
 'c_IT_&_Computer',
 'c_Indian_Language',
 'c_Journalism_&_Mass_Communication',
 'c_Law',
 'c_Library_&_Information_Science',
 'c_Linguistics',
 'c_Management',
 'c_Marine_Science_/_Oceanography',
 'c_Medical_Science',
 'c_Oriental_Learning',
 'c_Physical_Education',
 'c_Religious_Studies',
 'c_Science',
 'c_Social_Science',
 'c_Social_Work',
 'c_Veterinary_&_Animal_Sciences',
 'c_Women_Studies']

In [61]:
df=m_col_inst_course[m_col_inst_course['college_institution_id']==13438]
str(df.discipline_group.values)

"['Education' 'Education' 'Science' 'Commerce']"

In [62]:
col_courses={'college_institution_id':[],'courses':[]}
for i in col_inst_ids:
    courses=''
    df=m_col_inst_course[m_col_inst_course['college_institution_id']==i]
    disc=list(df.discipline_group.values)
    for j in disc:
        courses=courses+j+' '    
    col_courses['college_institution_id'].append(i)
    col_courses['courses'].append(courses.strip())
col_courses=pd.DataFrame(col_courses)

In [63]:
col_courses.head()

   college_institution_id                               courses
0                   13438  Education Education Science Commerce
1                   55446                             Education
2                   15927                                  Arts
3                   51377                                  Arts
4                   51411                                  Arts

In [64]:
col_courses.count()

college_institution_id    35187
courses                   35187
dtype: int64

In [37]:
#col_courses.to_csv('col_courses.csv',index=False)

In [65]:
df=m_col_inst_course[[
 'college_institution_id',
 'c_Agriculture',
 'c_Area_Studies',
 'c_Arts',
 'c_Commerce',
 'c_Criminology_&_Forensic_Science',
 'c_Cultural_Studies',
 'c_Defence_Studies',
 'c_Design',
 'c_Disability_Studies',
 'c_Education',
 'c_Engineering_&_Technology',
 'c_Fashion_Technology',
 'c_Fine_Arts',
 'c_Fisheries_Science',
 'c_Foreign_Language',
 'c_Gandhian_Studies',
 'c_Home_Science',
 'c_IT_&_Computer',
 'c_Indian_Language',
 'c_Journalism_&_Mass_Communication',
 'c_Law',
 'c_Library_&_Information_Science',
 'c_Linguistics',
 'c_Management',
 'c_Marine_Science_/_Oceanography',
 'c_Medical_Science',
 'c_Oriental_Learning',
 'c_Physical_Education',
 'c_Religious_Studies',
 'c_Science',
 'c_Social_Science',
 'c_Social_Work',
 'c_Veterinary_&_Animal_Sciences',
 'c_Women_Studies']]

In [73]:
df1=df_new = df.groupby('college_institution_id', as_index=False).max().reindex(columns=df.columns)

In [81]:
df1[df1['college_institution_id']==1331]['c_Law']

949    0
Name: c_Law, dtype: uint8

In [82]:
df2=pd.merge(col_courses,df1,on='college_institution_id',how='inner')

In [83]:
df2

,college_institution_id,courses,c_Agriculture,c_Area_Studies,c_Arts,c_Commerce,c_Criminology_&_Forensic_Science,c_Cultural_Studies,c_Defence_Studies,c_Design,...,c_Marine_Science_/_Oceanography,c_Medical_Science,c_Oriental_Learning,c_Physical_Education,c_Religious_Studies,c_Science,c_Social_Science,c_Social_Work,c_Veterinary_&_Animal_Sciences,c_Women_Studies
0,13438,Education Education Science Commerce,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,55446,Education,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15927,Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,51377,Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,51411,Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,49749,Science Commerce Arts,0,0,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6,15282,Education,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,17135,Commerce Commerce Commerce Commerce Business A...,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,52568,Science Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9,25509,Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,50188,Science Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
11,51311,Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,23967,Science Commerce,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
13,51476,Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,54842,Education Science Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
15,28718,Education Chemistry Science Mathematics Physic...,0,0,1,1,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
16,55228,Education,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,45134,Science Commerce Arts,0,0,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
18,46000,Education,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,47866,Information Technology Chemical Engineering Me...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,30358,Nursing,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
21,18396,Commerce,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,15930,Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,15243,Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,6845,Computer Science,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,17869,Computer Application,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,8649,Social Work,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
27,47925,Computer Application,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28,6234,Business Administration Computer Application,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,33926,Science Commerce Commerce,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35157,20911,Education Education Education Education Educat...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35158,13218,Science Commerce Arts Business Administration ...,0,0,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35159,31329,Computer Application Computer Application Comp...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35160,14051,Ayurveda Ayurveda,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
35161,54242,Commerce,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35162,16298,Arts Other Medical Science,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
35163,54993,Science Commerce,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35164,34284,Science Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35165,13351,Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35166,21114,Commerce Arts,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35167,26432,Psychiatry Anesthesiology Gastroenterology Der...,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
35168,54823,Science Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35169,15507,Science Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35170,53805,Education Education,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35171,53868,Computer Application Computer Application,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35172,9628,Oriental Learning Oriental Learning Oriental L...,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
35173,15186,Education Science Commerce Arts,0,0,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35174,28975,Education Commerce Business Administration Com...,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35175,47486,Arts,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35176,6708,Arts Hindi Sanskrit,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35177,55370,Bio-Physics,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
35178,36266,Electrical Engineering Civil Engineering Compu...,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35179,55543,General Medicine,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
35180,55541,Science Commerce,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35181,29453,Business Administration Agriculture Agricultur...,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
35182,46520,Oriental Learning,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
35183,9650,Oriental Learning,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
35184,27131,Science Commerce Arts,0,0,1,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
35185,30507,Nursing,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
35186,17638,Mathematics Zoology Botany Chemistry Physics C...,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0

In [84]:
df2.to_csv('col_courses_field.csv',index=False)